.nav{
width: auto;
height: 60px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(66, 64, 64);
}
.nav-title{
color: aliceblue;
margin: 20px;

}
a{
text-decoration: none;
color: white;
}
.nav-links{
display: flex;
width: 50%;
align-items: center;
justify-content:space-around;
list-style-type: none;
}
.btn{
background-color: aqua;
color: white;
font-size: 15px;
height: 30px;
width: 100px;
border: none;
box-shadow: 5px 5px black;
}